<div class="h-28 w-21 select-none">
  <div class="flex h-full w-full items-center justify-center rounded-md">
    @if (zodiac.isOpen || zodiac.isPinned) {
      @if (zodiac.showTerrestrial) {
        <span
          class="beizhuan flex h-full w-full items-center justify-center rounded-md bg-yellow-950 text-6xl text-yellow-400"
          [ngClass]="{
            'brightness-75': !zodiac.isPinned,
          }"
          >{{ zodiac.terrestrial }}</span
        >
      } @else {
        <img
          [ngClass]="{ 'brightness-75': !zodiac.isPinned }"
          class="h-full w-full rounded-md"
          [src]="zodiac.img"
        />
      }
    } @else {
      <div class="cursor-pointer" (click)="click()">
        <app-zodiac-card-bg></app-zodiac-card-bg>
      </div>
    }

    <!-- @if (zodiac.isOpen) {
      @if (zodiac.isPinned) {
        @if (zodiac.showTerrestrial) {
          <span
            class="flex h-full w-full items-center justify-center rounded-md bg-yellow-950 font-serif text-5xl text-yellow-400"
            >{{ zodiac.terrestrial }}</span
          >
        } @else {
          <img class="h-full w-full rounded-md" [src]="zodiac.img" />
        }
      } @else {
        @if (zodiac.showTerrestrial) {
          <span
            class="flex h-full w-full items-center justify-center rounded-md bg-yellow-950 font-serif text-5xl text-yellow-400 brightness-75"
            >{{ zodiac.terrestrial }}</span
          >
        } @else {
          <img
            class="h-full w-full rounded-md brightness-75"
            [src]="zodiac.img"
          />
        }
      }
    } @else {
      <div class="cursor-pointer" (click)="click()">
        <app-zodiac-card-bg></app-zodiac-card-bg>
      </div>
    } -->
  </div>
</div>
